@charset "UTF-8";

*{
  margin: 0;
  padding: 0;
}
body {
  background: #eee;
}

header{
  height: 60px;
  background:#ccc;
}

.flex {
  display: flex;
}

.flex .image{
  margin:0;
  padding: 0;
  overflow: hidden;
  position: relative;
}

.flex .text{
  margin: 0 0 0 20px;
  padding: 0;
}

.flex a{
  margin: 15px 30px;
}


section {
  border-radius: 5px;
  padding: 50px;
  text-align: center;
}
